@mixin box-style {
    width: 100%;
    padding: 20px;
    min-height: 440px;
    border: solid 1px #999;
    background: #eee;
}
@mixin logo-left-style {
	width: 200px;
	height: 80px;
	border: solid 1px;
	background: white;
	padding: 20px;
}
@mixin img-left {
	width: 80px;
	height: 80px;
	border: solid 1px;
	background: #cecece;
}
@mixin logo-right-style {
	width: 120px;
	border: solid 1px;
	background: white;
}
@mixin img-right {
	width: 80px;
	height: 80px;
	margin: 20px 20px 0px 20px;
	border: solid 1px;
	background: #cecece;
}
@mixin center {
	padding: 20px;
	margin-top: 0;
	border: solid 1px;
	background: white;
	font-size: 20px;
}
.container {
	@include box-style;
	.logo-left {
		@include logo-left-style;
		float: left;
		img.img-left {
			@include img-left;
			float: left;
		}
		p.name {
			float: right;
			font-size: 16px;
		}
	}
	.logo-right {
		@include logo-right-style;
		float: right;
		img.img-right {
			@include img-right;
			&:last-of-type {
				margin-bottom: 20px;
			}
		}
	}
	p.center {
		@include center;
		margin-left: 260px;
		margin-right: 140px;
	}
}