@mixin box-style {
    width: 100%;
    overflow: auto;
    border: solid 1px #999;
    background: #eee;
}
@mixin logo-left-style {
	width: 200px;
	border: solid 1px;
	background: white;
	margin: 20px;
}
@mixin img-left {
	width: 80px;
	height: 80px;
	margin: 20px;
	border: solid 1px;
	background: #cecece;
}
@mixin logo-right-style {
	width: 120px;
	border: solid 1px;
	background: white;
    margin: 20px;
}
@mixin img-right {
	width: 80px;
	height: 80px;
	margin: 20px 20px 0px 20px;
	border: solid 1px;
	background: #cecece;
}
@mixin center {
	padding: 20px;
	border: solid 1px;
	background: white;
	font-size: 20px;
}
.container {
	@include box-style;
	.logo-left {
		@include logo-left-style;
		float: left;
		img.img-left {
			@include img-left;
			float: left;
		}
		p.name {
			position: absolute;
			left: 120px;
		    max-width: 60px;
			margin: 20px;
			font-size: 12px;
		}
	}
	.logo-right {
		@include logo-right-style;
		float: right;
		img.img-right {
			@include img-right;
			&:last-of-type {
				margin-bottom: 20px;
			}
		}
	}
	p.center {
		@include center;
		margin: 20px 160px 20px 240px;
	}
}