header {
    background-color: black;
    height: 60px;
    width: 100%;
    h1 {
        float: left;
        height: 50px;
    }
    ul {
        float: right;
        li {
            display: inline;
            margin: 12px;
            a {
                color: white;
            }
        }
    }
}
@mixin box-style{
    width: auto;
    padding: 40px 20px;
    margin: 20px 20px;
    box-shadow: 2px 2px 5px #848484;
    background: #fff;
}
@mixin font-style($size, $line-height) {
    font: #{$size}/#{$line-height} Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
@mixin form-style($item, $pos, $gap, $n) {
    @for $i from 1 to $n + 1 {
        #{$item}:nth-of-type(#{$i}) {
            left: $pos;
        }
        $pos: $pos + $gap;
    }
}
.container {
    width: 100%;
    padding: 20px 0;
    background: #dedede;
    article {
        @include box-style;
    }
}