header {
    background-color: black;
    height: 60px;
    width: 100%;
    h1 {
        float: left;
        height: 50px;
    }
    ul {
        float: right;
        li {
            display: inline;
            margin: 12px;
            a {
                color: white;
            }
        }
    }
}
@mixin box-style{
    width: 1160px;
    padding: 40px 20px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #848484;
    background: #fff;
}
@mixin font-style($size, $line-height) {
    font: #{$size}/#{$line-height} Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
@mixin form-style($item, $pos, $gap, $n) {
    @for $i from 1 to $n + 1 {
        #{$item}:nth-of-type(#{$i}) {
            left: $pos;
        }
        $pos: $pos + $gap;
    }
}
.container {
    width: 100%;
    padding: 20px 0;
    background: #dedede;
    article {
        @include box-style;
        h2 {
            color: #6b6267;
        }
        h3 {
            color: #866463;
        }
        p {
            @include font-style(14px,1.5);
            text-indent: 2em;
        }
        img {
            display: block;
            width: auto;
            height: auto;
        }
        ul {
            margin: 20px;            
        }
        ol {
            margin: 20px;
            list-style: decimal outside;
        }
        li {
            @include font-style(14px,1.5);
        }
        table {
            width: 100%;
            border: solid 1px black;
            border-collapse: collapse;
        }
    }
}